a {
    transition: all 250ms ease-in;
    float: right;
    cursor: pointer;
    color: rgb(125, 125, 125);
    filter: drop-shadow(0px 1px 2px gray);
    padding-right: 6px;

    mat-icon {
        font-size: 4em;
    }
    
    .circle {
        width: 65px;
        height: 65px;
        background-color: white;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    .circle-parent {
        width: 50px;
        height: 50px;
    }

    &:hover {
        filter: drop-shadow(0px 4px 4px gray);
        transform: translateY(-3px);
        .circle {
            color: lighten(rgb(125, 125, 125), 5%);
            background-color: darken(white, 5%);

        }
    }
}

:host {
    width: calc(100vw - 12px);
    position: absolute;
}