<div class="panel">
  <div class="details">
    <p>{{(profileService.doc.subject | async)?.displayName}}</p>
    <p>{{(profileService.doc.subject | async)?.role}}</p>
    <p>{{(profileService.doc.subject | async)?.companyName}}</p>
  </div>
  <div class="user-image">
    <!-- <img src="{{(authService.doc.subject | async)?.photoURL}}"> -->
    <a>
      <mat-icon>person</mat-icon>
    </a>
  </div>
  <div class="details-spacer"></div>
</div>
<div class="bio">
  <p>{{(profileService.doc.subject | async)?.bio}}</p>
</div>
<div class="pull-right" *ngIf="isMyProfile | async">
  <span></span>
  <button mat-mini-fab (click)="openProfileModal()"><mat-icon>edit</mat-icon></button>
</div>
<hr>
